<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cateringapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="@string/users_profile"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.MyFoodCartActivity"
            android:label="@string/food_cart"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.HomeScreenActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>